@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

:root{
  --gray: #344453;
  --light-gray: #736f72;
  --maroon:#e6273a9f;
  --red:#e62739;
  --white-fade: #bdc3c7;
}

body{
  margin-right: 0px;
  overflow-x: hidden;
}

img{
  object-fit:cover;
}


/* Navbar */

.navbar{
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:12vh;
  width:100vw;
}

.navbar__logo{
  margin-bottom: 0.6rem;
}
.navbar__logo a{
display: flex;
justify-content:flex-end;
align-items:flex-end;
color:var(--gray);
}


.navbar__logo--camera {
  font-size: 3.5rem;
}

.navbar__logo--title {
  font-size: 3rem;
  margin:0 0.35rem -0.5rem 0.25rem;
  font-weight: 600;
  
}
.navbar__logo--subTitle {
  display: flex;
  flex-wrap: wrap;
  width:100px;
  margin-bottom: 0.15rem;
  font-weight: 500;
  font-size: 0.85rem;
  color:var(--light-gray)
}
.navbar__links{
  list-style:none;
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:50%;
}
.navbar__links li{
  cursor:pointer;
  font-size: 1.5rem;
  color:var(--gray);
  /* padding:15px; */
}
.navbar__links li:nth-last-child(1){
  padding: 10px;
}

.navbar__links li:hover{
  /* padding-bottom: 2px; */
  border-bottom: 3px solid var(--gray);
  transition: border-bottom ease-in-out 0.2s;
}

.navbar__links li:nth-last-child(1):hover{
  background:var(--gray);
  border: none;
  color:white;
  transition:  ease-in-out 0.5s;
}

.navbar__burgerMenu {
  display:none;
  cursor: pointer;
}
.navbar__burgerMenu div{
  width:25px;
  height: 3px;
  background-color: var(--gray);
  margin: 5px;
  transition: all 0.3s ease;

}
/* Header-Banner */
.header__banner {
  background: url("./images/photographer-beard.jpeg") no-repeat center/cover;
  height:100%;
  width: 100%;
}
.header__overlay {
  background-image: linear-gradient(to right,rgba(44, 62, 80, 1),rgba(44, 62, 80, 0.7),rgba(255,255,255, 0.3));
  height:100%;
  width: 100%;
  color:white;   
}



/* Header */

.header__context{
  display:flex;
  flex-direction: column;font-family: 'Oswald', sans-serif;
  padding: 3rem;
}

.header__context h1{
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
}

.header__context p{
  width:50%;
  line-height:1.6;
  font-size: 1.5rem;
}

.header__context h3{
  margin: 1.5rem 0;
  font-size:1.5rem;
}

.header__home:hover{
  color:var(--white-fade);
  transition: 0.5s ease;
  cursor:pointer;

}

.header__portfolio:hover{
  color:var(--white-fade);
  transition: 0.5s ease;
  cursor:pointer;

}
/* Filter-Images */

ul{
    list-style: none;
}

.gallery__container{
    text-align: center;
    text-transform: uppercase;
}

.gallery__tabs{
    margin: 10px;
    font-size:25px;
}
.gallery__tabs li{
    display: inline-block;
    padding: 10px 18px;
    background: #2c3e50;
    color: #fff;
    cursor: pointer;
}

.gallery__tabs li:hover,
.gallery__tabs li.current{
    background: #bdc3c7;
    color:#2c3e50;
}
.gallery__content li{
  width: 400px;
}

.gallery__content {
  width:100vw;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  flex-direction: row-reverse;
}

.gallery__content .gallery__image.active{
  width:400px;
  height: 400px;
  transition: all 0.5s ease;
}

.gallery__content .gallery__image.delete{
  display:none;
  transition: all 0.5s ease;
}

.gallery__content img{
  display: block;
  width: 400px;
  height: 400px;
}
/* OverLay effect */

.gallery__image{
  position: relative;
}

.image__img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  display: block; 
}

.image__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:25px;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
}


.image__overlay:hover{
  opacity: 1;
 
}

.image__overlay:hover > *{
  transform: translateY(0)
}
.image__overlay a {
text-decoration:none;
color: #fff;
margin-top:10px;
}
.image__overlay a i{
 background-color: #2c3e5096;
 border-radius: 50%;
 font-size: 50px;
}

.image__overlay a i:hover{
  background-color: #fff;
  color:#2c3e50;
  transition:all ease 0.5s;
  opacity: 0.7;
 }

.image__overlay p{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
/* Footer */

.footer{
  background:#fff;
  width: 100%;
  margin-right: 0px;
}
.footer__top{
  display: flex;
  justify-content: space-around;
  width:70vw;
  margin: 2rem 15rem;
  color: var(--light-gray);
  
}

.footer__logo {
  font-size:2.5rem;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-weight: 600;
  color: var(--gray);
}
.footer__logo i{
  font-size:3rem;
}
.footer__content--about-company{
  width: 70%;
  color:var(--gray);
}
.footer__content--about-company p{
  line-height: 1.5;
  color:var(--light-gray);
  
}

.footer__content--gallery{
  width:80%;
  margin-left: 1.5rem;
  color: var(--gray);
}

.footer__images{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items:flex-start;
}

.footer__gallery-image{
  position: relative;
  width:80px; 
}

.gallery-image__img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  display: block; 
}

.gallery-image__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:25px;
  opacity: 0;
  transition: opacity 0.25s;
}


.gallery-image__overlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
}


.gallery-image__overlay:hover{
  opacity: 1;
 
}

.gallery-image__overlay:hover > *{
  transform: translateY(0)
}
.gallery-image__overlay a{
  text-decoration: none;
  color: #fff;
}

.gallery-image__overlay a i{
  font-size: 50px;
}


 /* Get-IN_TOUCH */

.footer__content--getInTouch{
  width: 80%;
  /* margin-left:2rem; */
  color:var(--gray);
}

.footer__content--getInTouch p{
  color: var(--light-gray);
}

.footer__content--getInTouch ul li{
  list-style: none;
}

.footer__socialIcons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.footer__socialIcons li img{
  background-color: #2c3e50;
  border-radius: 50%;
  margin-left: 5px;
  cursor:pointer;
  opacity: 0.9;
}
.footer__socialIcons li img:hover{
  background-color: #2c3e5077;
}

.footer__bottom{
  display:flex;
  justify-content:space-around;
  align-items:center;
  height:10vh;
  background-color: var(--gray);
  color: rgb(175, 168, 168);
}
.footer__copyright:hover{
  color:#fff;
}
.footer__bottom ul {
  list-style: none;
  display:flex;
  justify-content: space-around;
  align-items:center;
}
.footer__bottom ul li{
  cursor:pointer;
  margin-left: 20px;
}
.footer__bottom ul li:hover{
  color:#fff;
}

.footer__content--gallery h2,.footer__content--getInTouch h2 {
  margin-bottom: 0.5rem;
}




/* ScrollBar */


#scrollButton{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;border-radius:50%;
  background-color: var(--red);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 999;
  
}

#scrollButton:active{
  background-color: var(--maroon)
}


#scrollButton i{
  font-size: 30px;
}

/* Media-queries */

@media (max-width:768px) {
 
 
  .navbar{
    position:relative;
  }
 

  .navbar__links{
    position: fixed;
    right:0px;
    top:12vh;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:#2c3e50f5;
    width:100%;
    transform:translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
    overflow-x: hidden;
  }
.navbar__links li{
  color:white;
  opacity: 0;
}
  .navbar__burgerMenu{
    display:block;
    cursor: pointer;
  
  }

  .nav-active{
    transform: translateX(0%);
  }



/* Header */

.header__context{
  padding: 2rem;
  color: #2c3e50f5;
  width: 100vw;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.header__context h1{
  margin-top: 20px;
  font-size:30px;
}
.header__context p{
  width: 80%;
  color:#fff;

}

.header__home , .header__portfolio {
  color: var(--light-graygray);
}

/* Filter-gallery */
.gallery__tabs {
  padding:0.5rem 0.5rem 0.25rem 0.5rem;
}
.category {
  font-size:1rem;
  padding:1rem;
  margin-bottom: 0.5rem;
}
.gallery__image {
  position: relative;
}
.gallery__image .image__img {
  width: 120px;
  height: 120px;
}
.gallery__content li {
  width: 120px;
}

.image__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  font-size:10px;
  opacity: 0;
  transition: opacity 0.25s;
}

/* Footer */
.footer__top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin: 10px 60px;
  text-align: center;
}

.footer__content--about-company, .footer__content--gallery, .footer__content--getInTouch{
  width: 100%;
  margin-top: 1.25rem;
}
.footer__content--about-company {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
.footer__images{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  width: 100%;
}
.footer__bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height:15vh;
}
.footer__copyright{
  margin-bottom: 10px;
}

.footer__socialIcons{
  justify-content:center;
  align-items:center;
}



@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
}